<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  
  
  	<servlet>
		<servlet-name>jersey</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>jersey.config.server.provider.packages</param-name>
			<param-value>io.swagger.jaxrs.listing,com.control2me.japi.services</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
  
 	<servlet>
		<servlet-name>SwaggerDocumentSetup</servlet-name>
		<servlet-class>com.control2me.japi.SwaggerDocumentSetup</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>
  
  	<servlet-mapping>
		<servlet-name>jersey</servlet-name>
		<url-pattern>/services/*</url-pattern>
	</servlet-mapping>
  
  
</web-app>
